# See http://help.github.com/ignore-files/ for more about ignoring files.

.env


# Build output path
/dist
/tmp
/target
/build
cdk.out

.eggs
.tox
.coverage

/*.egg-info
__pycache__
venv
venv*

# IDEs and editors
/.idea
.project
.classpathlue\__init__.py
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
../.idea/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

#csv files


# System Files
.DS_Store
Thumbs.db
../.DS_Store
convert-ml-core/build/*
convert-ml-core/dist/*
convert-ml-core/lib/*
convert-ml-core/convertML.egg-info/*
convert-ml-core/devops/terraform/.terraform/*
